
.btn-select-template{background: linear-gradient(111deg,#74BDCB,#1D3B58)}
.btn-select-template:hover {
    cursor: pointer;
    box-shadow: 8px 8px 6px rgba(0,0,0, 0.7);
    /*background: radial-gradient(ellipse at left, #7466C9,#7466C9, #7466C9,#686DCB,#4B7CD1 70%);*/
    background: linear-gradient(111deg,#1D3B58,#74BDCB);
}
.box-template:hover{
    cursor: pointer;
}