@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, div, form,ul,nav,a, header {
  margin: 0;
  padding: 0;    
}

body{
  height: auto;
  background: #CFCFE0;
}

.div-contect{
  
  min-height: 700px;
}

.background-gradient{
  background: radial-gradient(ellipse at left, #7466C9,#7466C9, #7466C9,#686DCB,#4B7CD1 100%);
}

.flex-display {
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.center-center{
  justify-content: center;
  align-items: center;
}

.top-center{
  justify-content: center;
  align-items: flex-start;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Main section*/
.main-workspace{
  background: #CFCFE0;    
  padding: 60px 90px 0 90px;
  
}

.main-workspace h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #707070;
  text-align: left;
  padding-bottom: 50px;   
}

#content-templates {
  display: flex;
  flex-wrap: wrap;    
}

@media screen and (min-width: 0px) and (max-width: 766px) {

  .main-workspace {
      padding: 20px;
      min-width: 360px;
  }

  #content-templates{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: auto;
    align-items: center;
  }

}
/*End Main section Csss*/

/*TemplateSelected Css*/
#actionItemsList >li:hover {
  cursor: pointer;
  text-decoration: underline;
} 
/*End TemplateSelected Css*/